In [ ]:
Introduction to list datatype:

In [ ]:
Def: A list is a collectin of items declared in a particualr order
Clasification: It is classified as an mutable datatype
How to define the list....?[ ]

In [9]:
students = ['lubna','ayesha','naveena','john','chandra']

In [11]:
print(students)

['lubna', 'ayesha', 'naveena', 'john', 'chandra']

In [ ]:
Understanding the concept of indexing:

In [ ]:
# I wanted to get the name of Lubna in the output...?

In [13]:
print(students[0])

lubna

In [15]:
print(students[0].title())

Lubna

In [ ]:
# I want o get the name of Naveena in the output:

In [19]:
print(students[2].title())

Naveena

In [ ]:
# How to add new elements to the list datatype
# How to modify the elements in the list datatype
# How to delete the elements in the list datatype

In [ ]:
#Req: I want to add tazeen to the above list..?

In [23]:
students.append('tazeen')

In [25]:
print(students)

['lubna', 'ayesha', 'naveena', 'john', 'chandra', 'tazeen']

In [27]:
students.append('david')

In [29]:
print(students)

['lubna', 'ayesha', 'naveena', 'john', 'chandra', 'tazeen', 'david']

In [ ]:
#req: I want to add poojitha name in the second indes.

In [33]:
students.insert(2,'poojitha')

In [35]:
print(students)

['lubna', 'ayesha', 'poojitha', 'naveena', 'john', 'chandra', 'tazeen', 'david']

In [37]:
print(students[2].title())

Poojitha

In [ ]:
Interview question: Difference between insert and append in a list

In [ ]:
How to modify the elements in the list datatype:

In [39]:
print(students)

['lubna', 'ayesha', 'poojitha', 'naveena', 'john', 'chandra', 'tazeen', 'david']

In [ ]:
# req: I want to modify Poojithan name to Ramya

In [41]:
students[2] = 'ramya'

In [43]:
print(students)

['lubna', 'ayesha', 'ramya', 'naveena', 'john', 'chandra', 'tazeen', 'david']

In [ ]:
#req: How to delete the elements in the list datatype 
1. Temporary deleting
2. Permanent deleting

In [ ]:
# I want to delete Lubna name: pop
Note: pop by default will be deleting the last element in the list and it will be creating a carbon copy of the deleted item with the 
variable that has been asssigned to it.

In [45]:
x = students.pop()

In [47]:
print(students)

['lubna', 'ayesha', 'ramya', 'naveena', 'john', 'chandra', 'tazeen']

In [49]:
print(x)

david

In [51]:
y = students.pop(0)

In [53]:
print(students)

['ayesha', 'ramya', 'naveena', 'john', 'chandra', 'tazeen']

In [55]:
print(y)

lubna

In [ ]:
#Req: I want to delete chandra name in the above

In [59]:
del students[3]

In [61]:
print(students)

['ayesha', 'ramya', 'naveena', 'tazeen']

In [ ]:
Interview question: Difference between pop and delete